@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_login {
  background-color: #fff;
  color: #1a4864;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #1a4864;
}
.container_login_form {
  background-color: #fff;
  align-self: center;
  padding: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  min-height: 50vh;
}
.container_login_form input {
  outline: none;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.container_logo_user {
  width: 120px;
  height: 120px;
  background-image: url("https://i.postimg.cc/WbXhwqQK/user.png");
  background-position: center;
  background-size: cover;
  border-radius: 100px;
}

.login_button {
  background-color: #8ab4c7;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  text-transform: uppercase;
}

.login_button:hover {
  background-color: #1a4864;
}
.logo {
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.3rem;
}
.logo span.font-bold {
  font-weight: bold;
}

.logo span.font-ligth {
  font-weight: 300;
}
.logo .text-xs {
  font-size: 0.75rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #ccc;
  border-top-color: #ff6b6b;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error_percentage {
  font-size: 12px;
  background-color: #f07167;
  text-align: end;
  color: #fff;
  margin-top: 4px;
  border-radius: 5px;
  padding: 2px 4px;
}
.tree_container {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
}
.level_one,
.level_two,
.level_three,
.last_level {
  border-left: 2px solid #177e89;
  margin-left: 10px;
}
.level_two {
  border-left: 2px solid #db3a34;
  margin-left: 28px;
  margin-top: -3px;
}
.investor_level {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding: 4px 0px;
}
.level_three {
  border-left: 2px solid #ffc857;
  margin-left: 28px;
  margin-top: -3px;
}

.last_level {
  border-left: 2px solid #f4a259;
  margin-left: 28px;
  margin-top: -3px;
}
.container_svg {
  display: flex;
  align-items: center;
}

.container_svg svg:nth-child(2) {
  margin-left: -2px;
  margin-bottom: -5px;
}
.percentage_level {
  border: 1px solid #cccccc;
  padding: 2px;
  border-radius: 4px;
}
@media screen and (max-width: 900px) {
  .container_login_form {
    width: auto;
  }
}
